// サイドカラムの色
$side-col : rgba(255,0,0,0.1);
// サイドカラムのボーダー色
$side-col-border : rgba(255,0,0,0.4);
// 記事の背景色
$post : rgba(0,80,225,0.2);
// メインカラムのまわりのボーダー色
$content-border : rgba(0,80,225,0.6);
// リンク色
$link : rgba(86,25,103,0.9);